        {{!-- <a href="/beers{{this.id}}">--}}
    <div> 
        <img src="{{this.image_url}}"></img>
        <p>{{this.name}}</p>
        {{!-- </a> --}}
        <p>{{this.description}}</p>
        <p>{{this.tagline}}</p>
    </div></a>